body{
    margin: 0px;
    background: white;
}

#mietDebay4Pcs{
    width: 100%;
}
#mietDebay7Pcs{
    width: 100%;
}
#mietDebay1Pcs{
    width: 100%;
}
#mietDebay3Pcs{
    width: 100%;
}
#mietDebay2Pcs{
    width: 100%;
}
#mietDebay5Pcs{
    width: 100%;
}
#mietDebay8Pcs{
    width: 100%;
}





* {
    scrollbar-width: auto;
    scrollbar-color: #b9b9b9 #ffffff;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    border-radius: 20px;
    border: 3px none #f2f2f2;
}
::-webkit-scrollbar-thumb:hover {
    background: #adadad;
}
